<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidProject"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".shipper.fragment.ShipperOrderFragment"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-L7S1M_iM0IswnbICO9F8WpiR2V_fwSE" />

        <activity
            android:name=".shipper.activites.MapsActivityShipper"
            android:exported="false"
            android:label="@string/title_activity_maps_shipper" />
        <activity
            android:name=".customer.activities.MyLicense"
            android:exported="false" />
        <activity
            android:name=".shipper.activites.ShipperActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".customer.activities.YourJourneyActivity"
            android:exported="false" />
        <activity
            android:name=".customer.activities.ChangesPass"
            android:exported="false" />
        <activity
            android:name=".customer.activities.ShowroomActivity"
            android:exported="false" />
        <activity
            android:name=".customer.fragments.ShowroomSearchFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".customer.activities.DetailItemActivity"
            android:exported="true" />
        <activity
            android:name=".customer.activities.MyAccount"
            android:exported="false" />
        <activity
            android:name=".customer.fragments.ShowroomFragment"
            android:exported="false" />
        <activity
            android:name=".customer.fragments.SupportFragment"
            android:exported="false" />
        <activity
            android:name=".customer.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".account.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>